html {
    font-family: 'Special Elite', cursive;
 }
p {
    text-align: right;
    color: darkred;
    margin-bottom: 1em;
 
 }
 h1 {
     color: black;
     font-size: 40px;
     margin-bottom: 0mm
 
 }
 h2 {
     color: darkred;
     font-size: 35px;
     margin-bottom: 1mm;
     text-align: center;
     text-decoration: line-through; 
 }
 body { background-color: black;
     background-image: url("https://t2.genius.com/unsafe/440x440/https%3A%2F%2Fimages.genius.com%2F79c6343980b4513f2c46813301da0dec.1000x1000x1.png");
     background-repeat: no-repeat;
     font-size: 12px;

     
 
 }
 section {
     font-weight: bolder;
     font-style: italic;
 }
 block {
     font-weight: lighter
 }