body {
    font-family: 'Archivo Narrow', sans-serif;
}

header {
    text-align: center; 
    background-color: rgba(255,0,0,.5);
    padding-top: 150px;
    height: 330px;
    background-image: url(https://i.pinimg.com/564x/d8/5c/af/d85caf6012eea80bd824acaf42cba3b0.jpg);
    margin-bottom: -2.5em;
}
.column-container {
width: 960px;
margin: auto; 
}

h1 {
    font-size: 80px;
    margin-bottom: 0px; 
    margin-top: 2px;
    color: skyblue;
}
h2 {
    font-size: 30px;
    margin-top: -0.9px

}
h3 { 
text-align: center;
font-size: 40px; 
margin-top: 1em;
display: block; 
margin-block-start: 1em;
margin-block-end: 1em; 
margin-inline-start: 0px;
margin-inline-end: 0px;
}

h4{
font-size: 20px;
margin: 0px;
}

footer{
    background-color:skyblue;
    padding-bottom: 80px;
    padding-top: 30px;
}
h5{
    font-size: 20px;
    font-weight: lighter;
    display: block;


}
.sectionone {
background-color: white;
padding-bottom: 10px;
padding-top: 10px;
}

.sectiontwo{
background-color: lightblue;
padding-top: 10px;
}
.sectionthree{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 80px;

}

p{
    font-size: 19px;
    margin-top: 0.5em;
    font-weight:lighter;
    word-spacing: 0.02em;
    display: block;

}
.p2 {
    margin-top: 0px;
    padding-right:1em;
}
.p3 {
    font-size: 25px;
    width: 50%;
    margin: auto;
    text-align: center;


}
.fly {
    width: 400px;
    height: 300px; 
    float: right;
    margin-top: 0.01em;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right:1px;

}
.pic {
    width: 200px;
    height: 150px;
    float: left; 
    margin-bottom: 25px;
    padding-right: 9px;

}

.animations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px;
    margin-bottom: auto;

}
.animations li {
display: block;

}

